#cadastrar_motoqueiro{
    display: none;
}

input, textarea, select, #browser-default{
    color: #FFF;
}
.datepicker-day-button, .datepicker-controls .select-year input, .datepicker-controls .select-month input{
    color: #000 !important;
}

*:disabled, :disabled+label {
    color: #FFF !important;
}
select{
    background-color: transparent;
    border: none;
}

option{
    color: #000;
}
